<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Post</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="min-h-screen bg-orange-50">
    <!-- Header -->
    <header class="bg-orange-200 shadow-md">
      <div class="container mx-auto px-4">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center space-x-8">
            <a href="homepage" class="text-xl font-bold text-orange-800"
              >Mood Matrix</a
            >
            <a href="homepage" class="text-orange-800">Home</a>
          </div>
          <div class="flex items-center space-x-4">
            <a
              href="profile"
              class="text-orange-900 hover:bg-orange-300 px-3 py-2 rounded-md text-sm font-medium"
              >Profile</a
            >
            <a
              href="#"
              class="text-orange-900 hover:bg-orange-300 px-3 py-2 rounded-md text-sm font-medium"
              >Logout</a
            >
          </div>
        </div>
      </div>
    </header>
    
  </body>
</html>
